ul {
  list-style-type: none; margin: 0; padding: 0; overflow: hidden; position: fixed; top: 0; background-color: #27251F; width: 100%; padding-top: 0.8rem;
}

li {
  float: left;
}

li a {
  display: block; color: #FFC72C; text-align: center; margin-left: 2rem; text-decoration: none; font-size: 1.8rem; font-family: sans-serif;
}

li a:hover {
  color: #DA291C; border-bottom: 4px solid #FFC72C;
}

.active {
  color: #DA291C; border-bottom: 4px solid #FFC72C;
}

ul li img {
  height: 2.85rem; margin-left: 8%; margin-right: 0.25rem;
}

.sm {
  float: right; margin-left: 0;
}

.sm a img {
  height: 2.5rem; margin-left: 0; padding-right: 1.5rem;
}

#motto {
  font-size: 1.8rem; text-align: center; font-family: sans-serif; border-bottom: 5px solid #DA291C; margin-top: 4.3rem; padding-top: 0.4rem; padding-bottom: 0.4rem;
}

#nabidka {
  margin-top: 1.5rem;
}

#nabidka article {
  float: left; margin-left: 2.6%; width: 18rem; margin-right: 2.6%;
}

#nabidka article h2 {
  font-family: sans-serif; font-size: 1.75rem; text-align: center;
}

#nabidka article h4 {
  float: right; font-family: sans-serif; font-size: 1.55rem;
}

#nabidka article img {
  height: 11rem;
}

#nabidka article p {
  font-family: serif; font-size: 1.35rem; text-align: justify;
}

@media(max-width: 930px) {
  ul {
    position: static;
  }

  .sm {
    float: left; margin-top: 1rem; margin-left: 16%;
  }

  li {
    float: none;
  }

  li a {
    margin: 0; padding-top: 1rem;
  }


}
